html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#map {
    width: 90vw;
    height: 60vh; 
    max-width: 1000px; 
    max-height: 600px; 
    background-color: rgb(29, 4, 138);
    position: relative;
    margin-top: 20px;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

#address {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 5px;
    border: 1px solid rgb(29, 4, 138);
    padding: 6px;
    margin-right: 10px;
}

#searchAddress {
    background-color: rgba(255, 255, 255, 0.897);
    border: none;
    border-radius: 5px;
    padding: 8px;
}

